.hobbies ul {
  display: flex;
  justify-content: center; 
  flex-wrap: wrap; 
  list-style: none;
  padding: 0;
  gap: 15px; 
  max-width: 600px; 
  margin: 0 auto; 
}

.hobbies li {
  background-color: #ffc107;
  padding: 10px 20px;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
  margin-bottom: 10px; 
  text-align: center; 
  flex: 1 1 calc(25% - 30px); 
  max-width: 200px; 
}

.hobbies li:hover {
  transform: scale(1.05);
}


@media (max-width: 768px) {
  .hobbies ul {
      max-width: 100%; 
      justify-content: center;
  }

  .hobbies li {
      flex: 1 1 calc(50% - 20px); 
      max-width: 150px; 
  }
}

@media (max-width: 480px) {
  .hobbies li {
      flex: 1 1 100%; 
      max-width: 100%;
  }
}
